@import "tailwindcss";
@import "./tokens/index.css";

@theme inline {
  --font-lato: var(--font-lato);

  --text-body-sm: var(--text-body-sm);
  --text-body-md: var(--text-body-md);
  --text-body-lg: var(--text-body-lg);

  --text-heading-xs: var(--text-heading-xs);
  --text-heading-sm: var(--text-heading-sm);
  --text-heading-md: var(--text-heading-md);
  --text-heading-lg: var(--text-heading-lg);
  --text-heading-xl: var(--text-heading-xl);

  --leading-body: var(--leading-body);
  --leading-heading: var(--leading-heading);

  --color-background: var(--gray-200);

  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);

  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);

  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);
  --color-info-400: var(--info-400);
  --color-info-500: var(--info-500);
  --color-info-600: var(--info-600);

  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);

  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);

  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
}

body {
  box-sizing: border-box;

  font-family: var(--font-lato);
  background-color: var(--color-background);
}
